$neon-pink:      #fa3ca1;
$neon-green:     #b6f549;
$linkedin-color: #287bbc;
$facebook-color: #43619b;

$default-color: #181818;
$primary-color: #285e8e;
$success-color: #4cae4c;
$info-color:    #46b8da;
$warning-color: #eea236;
$danger-color:  #d43f3a;

$default-color-dark: #adadad;
$primary-color-dark: #285e8e;
$success-color-dark: #398439;
$info-color-dark:    #269abc;
$warning-color-dark: #d58512;
$danger-color-dark:  #ac2925;
